<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  {% load staticfiles %}
    <link href="{% static 'css/index1.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <title>Flex Hub</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        {% load staticfiles %}
        <div id="logo-container">
          <img class="logo" src="{% static 'images/logo3.png' %}" alt="logo" />
        </div>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../">Home</a></li>
        <li><a href="../drivers">Drivers</a></li>
        <li><a href="../routes">Routes</a></li>
        <li><a href="../checkin">Checkin</a></li>
        <li><a href="../assignRoutes">Assign Routes</a></li>
        <li><a href="../checkout">Checkout</a></li>
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
